doctype html
html
  head
    title Admin Dashboard
  body
    h1 Welcome, Admin!
    p You are logged in.
    ul
      li
        a(href="/admin/logout") Logout
      li
        a(href="/admin/menu") Manage Menu
      li
        a(href="/admin/services") Manage Services

