block variables 
doctype html 
html 
  head
    meta(charset="utf-8")
    title #{title} | Cura Foods
    block scripts 
      link(rel="stylesheet", type="text/css", href="/styles.css")
  body
    header#header 
      .header-content   
        h2#site-name 
          a(href="/") Cura Foods
    main#main 
      block home
      block content
    footer#footer 
      p &copy; Cura Foods 2025